body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

nav {
    background-color: #4588e8;
    color: #FFF;
}
.jumbotron{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;



}
header .row{
    display: flex;
    align-items: center;
}
header h2 {
    font-weight: 500;
    margin:0;
}


.jumbotron p{
    font-weight: 400;
    font-size: 16px;
}

.title{
    text-align: center;
}

.bg-1{
    padding: 25px;
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
    background-color: rgba(255, 251, 255, 0.9);
    color: black;

}


ion-icon{
    font-size: 36px;
}

.icons{
    margin: 10px 25px;
}

